body{
  background-color: rgb(148, 147, 148);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

h1.styled{
  color :rgb(243, 198, 51);
  text-transform: uppercase;
}


.product{
  background-color: black;
  color: whitesmoke;
  width: 100%;
  border-radius: 25px;
  justify-content: center;
  padding: 25px;
}

.productData{
  background-color: rgb(243, 198, 51);
  color: whitesmoke;
  width: 75%;
  margin: auto;
  padding: 5px;
  padding-left: 20px;
  border-radius: 25px;
  margin-bottom: 8px;
  text-align: left;
}

.btn_title{
margin-top: 15px;
background-color: rgb(243, 198, 51);
color: seashell;
border-radius: 10px;
border : 1px solid black
}